.task-card {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  align-items: start;
  gap: 2.625rem;
  background-color: #FFFFFF;
  color: #2D2D2D;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05); 
}

.task-header {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.334rem;
}

.content {
  color: #808080;
  font-size: 0.875rem;
  font-weight: 400;
}

.task-actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.task-actions span {
  font-size: 0.625rem;
}

.actions {
  display: flex;
  gap: 1rem;
}